<!DOCTYPE html>
<html lang="en">

<head>
  <title>Jovian Careers | Powered by Express</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="discription" content="Learn about job opening at Jovian and submit yuor application now" />
  <meta property="og:title" content="Jovian Careers" />
  <meta property="og:description" content="Learn about job opening at Jovian and submit yuor application now" />
  <meta property="og:image" content="/Jovian_meta.png" />
  <link rel="icon" href="/jovian_favicon.png" type="image/x-icon" />

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="styles.css">

</head>

<body>

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-md shadow-sm">
    <div class="container-md ">

      <!-- LOGO -->
      <a class="navbar-brand" href="#">
        <img id="logo" alt="Jovian Logo" src="jovian_favicon.png" height="30" class="d-md-none" />
        <img id="logo" alt="Jovian Logo" src="jovian_logo.svg" height="30" class="d-none d-md-inline">
      </a>

      <!-- TOGGLE BUTTON -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="https://jovian.com/learn" target="_blank">
              Courses
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://jovian.com/learn" target="_blank">
              Programs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://youtube.com/@jovianhq" target="_blank">
              YouTube
            </a>
          </li>
          <li class="nav-item">
            <a class="btn btn-primary ms-2 " href="https://jovian.com/login" target="_blank">Sign in</a> </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--ABOUT SECTION  -->
  <div class="container  px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center py-4">
      <div class="col-12 col-lg-6">
        <img src="team.jpg.jpg" class="d-block  img-fluid rounded mx-auto mb-4 mb-lg-0" alt="Bootstrap Themes"
          width="700" height="500" loading="lazy">
      </div>
      <div class=" col-12 col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3 text-center text-lg-start"> Work at {{companyName}} </h1>
        <p class="lead">At Jovian, we're on mission to build the world's most highly reputed technical university, and
          we're building it competely online. We offer several beginner friendly courses that are taken by 300,000+
          registered users.</p>
        <p class="lead">We also offer 2 industery-focused bootcamps:</p>
        <ol class="lead">
          <li>
            <a href="https://www.jovian.com/full-stack-developer-bootcamp ">
              Jovian Full Stack Developer Bootcamp</a>
          </li>
          <li>
            <a href="https://www.jovian.com/data-science-bootcamp">
              Jovian Data Science Bootcamp
            </a>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <!-- JOBS -->
  <div class="container px-4 mt-5">
    <h2 class="text-center mb-4">Job Opportunities</h2>
    <!-- JOBS LIST -->
    <div class="d-md-none">
      {{#jobs}}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><a href="/jobs/{{id}}">{{title}}
            </a></h5>
          <h6 class="card-subtitle mb-1 text-body-secondary">
            {{location}} • {{salary}}
          </h6>
          <small class=" card-text text-body-secondary">
            Posted {{posted}}
          </small>
        </div>
      </div>


      {{/jobs}}

    </div>



    <!-- JOBS TABLE -->
    <div class="col-lg-8 offset-lg-2">
      <table class=" d-none d-md-table table table-bordered table-striped">

        <tr class="table-primary text-center">
          <th>Job Title</th>
          <th>Location</th>
          <th>Salary</th>
          <th>Posted On</th>
        </tr>

        {{#jobs}}
        <tr>
          <td><a href="/jobs/{{id}}">{{title}}</a></td>
          <td>{{location}}</td>
          <td>{{salary}}</td>
          <td>{{posted}}</td>
        </tr>
        {{/jobs}}
      </table>
    </div>
  </div>
 

  <!-- FOOTER -->
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-top pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Courses</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Program</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary"> YouTube</a>
        </li>

        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-body-secondary">Sign In</a>
        </li>

      </ul>
      <p class="text-center text-body-secondary">
        © 2023 Jovian (SwiftAce Inc.)
      </p>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>
</body>

</html>